body {
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
}

h1 {
  color: #333;
}

#quiz-container {
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 20px;
  margin: 20px auto;
  width: 300px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#question {
  font-size: 18px;
  margin-bottom: 10px;
}

#answer {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
}

#answer-bank-container {
  margin-bottom: 10px;
}

#answer-bank {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
}

#submit-answer {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

#submit-answer:hover {
  background-color: #45a049;
}

#score, #final-score {
  font-size: 16px;
  margin-top: 20px;
  color: #333;
}